In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel("B:\GroundwaterRech\GithubRepo\Restart\Dataset\FinalDataset(All .xlsx", sheet_name='Sheet3')

In [3]:
df

,District,Object Id,Longitude,Latitude,Slope,Soil Type,1986,1987,1988,1989,...,2010.4,2011.4,2012.4,2013.4,2014.4,2015.4,2016.4,2017.4,2018.4,2019.4
0,Hoshiarpur,52,74.75,31.25,0.784844,Haplic Calcisols,Agriculture,Agriculture,Agriculture,Agriculture,...,-2.20,-2.05,-0.40,-1.5,0.9,1.85,-0.15,-2.375,-4.900000,-1.1
1,Hoshiarpur,53,75.00,31.25,0.701995,Haplic Calcisols,Agriculture,Agriculture,Agriculture,Agriculture,...,-3.45,-0.83,-0.90,-2.1,0.8,1.25,-0.10,-9.530,3.783333,-3.6
2,Hoshiarpur,60,74.75,31.50,1.889588,Haplic Calcisols,Agriculture,Agriculture,Agriculture,Agriculture,...,-2.20,-2.05,-0.40,-1.5,0.9,1.85,-0.15,-2.375,-4.900000,-1.1
3,Hoshiarpur,61,75.00,31.50,1.889588,Haplic Calcisols,Agriculture,Agriculture,Agriculture,Agriculture,...,-3.45,-0.83,-0.90,-2.1,0.8,1.25,-0.10,-9.530,3.783333,-3.6
4,Hoshiarpur,62,75.25,31.50,0.351011,Haplic Calcisols,Agriculture,Agriculture,Agriculture,Agriculture,...,-2.20,-2.05,-0.40,-1.5,0.9,1.85,-0.15,-2.375,-4.900000,-1.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,Patiala,19,75.75,30.25,2.353356,Haplic Calcisols,Agriculture,Agriculture,Agriculture,Agriculture,...,0.25,-0.10,-0.23,20.0,1.0,-1.05,0.10,0.930,1.000000,0.3
61,Patiala,20,76.00,30.25,1.889588,Haplic Calcisols,Agriculture,Agriculture,Agriculture,Agriculture,...,-0.04,-0.28,0.64,0.5,0.2,2.10,3.30,2.300,0.850000,4.6
62,Patiala,29,75.50,30.50,0.351011,Haplic Calcisols,Agriculture,Agriculture,Agriculture,Agriculture,...,0.25,-0.10,-0.23,20.0,1.0,-1.05,0.10,0.930,1.000000,0.3
63,Patiala,30,75.75,30.50,1.265397,Haplic Calcisols,Builtup,Builtup,Builtup,Builtup,...,-0.04,-0.28,0.64,0.5,0.2,2.10,3.30,2.300,0.850000,4.6
64,Patiala,31,76.00,30.50,1.109868,Haplic Calcisols,Agriculture,Agriculture,Agriculture,Agriculture,...,0.25,-0.10,-0.23,20.0,1.0,-1.05,0.10,0.930,1.000000,0.3

In [4]:
l = list(df.columns)
pts = list(df['Object Id'].values)
d = {}

In [5]:
years = [i for i in range(1986, 2020)]

In [6]:
for i in pts:
    d[i] = {'Longitude': df['Longitude'][pts.index(i)], 'Latitude': df['Latitude'][pts.index(i)],
            'District': df['District'][pts.index(i)], 'Slope': df['Slope'][pts.index(i)],
            'Soil Type': df['Soil Type'][pts.index(i)]}

In [7]:
df1 = pd.DataFrame(columns=['Year', 'District', 'Longitude', 'Latitude', 'Slope', 'Soil Type', 'LULC',
                            'Max Temperature', 'Min Temperature', 'Precipitation', 'Groundwater Recharge'])

In [25]:
for i in pts:
    df1 = pd.DataFrame()
    v = list(df.iloc[pts.index(i), 6:].values)
    df1['Year'] = years
    df1['District'] = d[i]['District']
    df1['Longitude'] = d[i]['Longitude']
    df1['Latitude'] = d[i]['Latitude']
    df1['Slope'] = d[i]['Slope']
    df1['Soil Type'] = d[i]['Soil Type']
    df1['LULC'] = v[0:34]
    df1['Max Temperature'] = v[34:68]
    df1['Min Temperature'] = v[68:102]
    df1['Precipitation'] = v[102:136]
    df1['Groundwater Recharge'] = v[136:173]
    df1.to_excel(str(i) + '.xlsx', index=False)

In [24]:
df.iloc[pts.index(52), 6:].values

array(['Agriculture', 'Agriculture', 'Agriculture', 'Agriculture',
       'Agriculture', 'Agriculture', 'Agriculture', 'Agriculture',
       'Agriculture', 'Agriculture', 'Agriculture', 'Agriculture',
       'Agriculture', 'Agriculture', 'Agriculture', 'Agriculture',
       'Agriculture', 'Agriculture', 'Agriculture', 'Agriculture',
       'Agriculture', 'Agriculture', 'Agriculture', 'Agriculture',
       'Agriculture', 'Agriculture', 'Agriculture', 'Agriculture',
       'Agriculture', 'Agriculture', 'Builtup', 'Builtup', 'Builtup',
       'Builtup', 40.902, 43.932, 40.48999999999999, 42.026, 40.756,
       41.83199999999999, 40.872, 41.726, 40.20399999999999, 40.858,
       39.65, 40.59, 42.174, 42.54199999999999, 42.014, 40.246, 42.602,
       40.77, 40.98, 41.26000000000001, 39.48200000000001,
       40.90199999999999, 36.482, 42.09399999999999, 39.16, 38.514,
       42.20399999999999, 38.974, 39.752, 39.914, 39.182, 39.938, 37.816,
       38.9, 21.64, 23.072, 22.144, 21.556, 22.416, 22.114, 21.748,
       21.106, 21.21, 21.924, 20.856, 21.824, 22.594, 22.454, 21.566,
       22.114, 23.22, 22.982, 22.984, 21.926, 22.11, 23.348, 21.966,
       22.832, 21.272, 22.12, 22.52, 21.896, 23.016, 21.306, 22.686,
       21.494, 22.208, 22.342, 167.86, 93.04, 302.4, 199.08, 240.16,
       144.84, 202.94, 153.8, 160.54, 245.58, 246.08, 220.4, 147.46,
       143.06, 169.88, 183.76, 151.52, 187.68, 139.4, 161.58, 310.62,
       142.88, 214.26, 99.46, 207.24, 235.94, 187.64, 252.14, 218.98,
       227.74, 186.66, 174.0, 208.76, 198.88, -0.7, -0.7399999999999999,
       -1.35, -1.26, -1.13, -0.84, -1.3, -2.04, -1.0, -2.65, -2.49, -1.46,
       -1.75, -0.76, -1.51, -1.66, -0.9299999999999997, -2.26, -1.39,
       -0.75, -2.15, -1.43, -1.87, -2.5, -2.2, -2.05, -0.3999999999999999,
       -1.5, 0.8999999999999999, 1.85, -0.1499999999999995, -2.375,
       -4.899999999999999, -1.1], dtype=object)