In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df1=pd.read_excel('/content/LongLat.xlsx',sheet_name='Sheet4')
df2=pd.read_excel('/content/LongLat.xlsx',sheet_name='Sheet5')

In [ ]:
import geopy.distance

In [ ]:
df1.head()

   Latitude  Longitude
0  31.84423   74.76252
1  31.84423   74.76252
2  31.84423   74.76252
3  31.84423   74.76252
4  31.84423   74.76252

In [ ]:
df2.head()

    Long    Lat
0  74.75  31.25
1  75.00  31.25
2  74.75  31.50
3  75.00  31.50
4  75.25  31.50

In [ ]:
# geopy.distance.distance( (df1['X'][0],df1['Y'][0]), (df2['Longitude'][0],df2['Latitude'][0])).km

In [ ]:
df2['long']=0.0 
df2['lat']=0.0

In [ ]:
for i in df2.index:
  m=[]
  for j in df1.index:
    m.append( geopy.distance.distance( ( df1['Latitude'][j],df1['Longitude'][j]), (df2['Lat'][i],df2['Long'][i]) ).km )
  df2['long'][i]=df1['Longitude'][m.index(min(m))]
  df2['lat'][i]=df1['Latitude'][m.index(min(m))]

In [ ]:
m

[196.44213118310617, 168.69930476541325, 197.2930659262811, 169.67357442805027]

In [ ]:
output=df2.to_excel('Output.xlsx')

In [ ]:
m.index(min(m))

1