In [ ]:
import numpy as np
import pandas as pd
import datetime

In [ ]:
leap_years=[1988,1992,1996,2000,2004,2008,2012,2016]
gf=pd.DataFrame()
for i in range(1986,2020):
  days=365
  if i in leap_years:
    days=366
  df=pd.read_excel('/content/'+str(i)+'.xlsx') # importing datset
  
  test_date = datetime.datetime.strptime("01-01-"+str(i), "%d-%m-%Y")    # Date generation
  date_generated = pd.date_range(test_date, periods=days)
  Columns=list(df.columns[:4])
  Columns.extend(list(date_generated.strftime("%B")))
  # print(Columns)
  df.columns=Columns                #Renaming Columns

  df1=df.transpose()
  df1=df1.reset_index()
  df2=df1.drop(df.index[0:4],axis=0)
  df2=df2.groupby(df2['index']).mean()
  df3=df2.transpose()
  
  df3.drop(['April', 'December', 'February', 'January',
       'March', 'May', 'November'],inplace=True,axis=1)
  df3.columns=['August_'+str(i),'July_'+str(i),'June_'+str(i),'October_'+str(i),'September_'+str(i)]
  gf=pd.concat([gf,df3],axis=1)
  df3.to_excel('output_'+str(i)+".xlsx")

In [ ]:
gf.to_excel('T_min.xlsx')

In [ ]:
df=pd.read_excel('/content/1986.xlsx')

In [ ]:
df.shape

(4, 369)

In [ ]:
df.head()

,OBJECTID *,Shape *,X,Y,1,2,3,4,5,6,...,356,357,358,359,360,361,362,363,364,365
0,1,Point,74.5,30.5,4.53,3.91,2.23,1.65,1.43,1.25,...,4.02,2.50,2.82,3.28,2.57,2.00,2.73,3.84,2.13,2.18
1,2,Point,75.5,30.5,4.56,3.84,2.69,2.32,2.38,2.51,...,4.23,2.82,2.81,3.66,3.12,2.69,3.03,4.35,2.18,2.36
2,3,Point,76.5,30.5,5.03,3.92,3.43,3.01,3.23,3.65,...,4.59,3.28,3.23,4.01,3.69,3.58,3.10,4.32,3.45,2.63
3,4,Point,75.5,31.5,3.69,3.10,2.44,2.12,2.97,2.91,...,5.12,3.15,3.57,3.78,3.24,3.15,3.30,4.85,2.91,2.68

In [ ]:
test_date = datetime.datetime.strptime("01-01-1986", "%d-%m-%Y")
k=365

In [ ]:
date_generated = pd.date_range(test_date, periods=k)
# print(list(date_generated))
print(list(date_generated.strftime("%d-%m-%Y")))

['01-01-1986', '02-01-1986', '03-01-1986', '04-01-1986', '05-01-1986', '06-01-1986', '07-01-1986', '08-01-1986', '09-01-1986', '10-01-1986', '11-01-1986', '12-01-1986', '13-01-1986', '14-01-1986', '15-01-1986', '16-01-1986', '17-01-1986', '18-01-1986', '19-01-1986', '20-01-1986', '21-01-1986', '22-01-1986', '23-01-1986', '24-01-1986', '25-01-1986', '26-01-1986', '27-01-1986', '28-01-1986', '29-01-1986', '30-01-1986', '31-01-1986', '01-02-1986', '02-02-1986', '03-02-1986', '04-02-1986', '05-02-1986', '06-02-1986', '07-02-1986', '08-02-1986', '09-02-1986', '10-02-1986', '11-02-1986', '12-02-1986', '13-02-1986', '14-02-1986', '15-02-1986', '16-02-1986', '17-02-1986', '18-02-1986', '19-02-1986', '20-02-1986', '21-02-1986', '22-02-1986', '23-02-1986', '24-02-1986', '25-02-1986', '26-02-1986', '27-02-1986', '28-02-1986', '01-03-1986', '02-03-1986', '03-03-1986', '04-03-1986', '05-03-1986', '06-03-1986', '07-03-1986', '08-03-1986', '09-03-1986', '10-03-1986', '11-03-1986', '12-03-1986', '13-03-1986', '14-03-1986', '15-03-1986', '16-03-1986', '17-03-1986', '18-03-1986', '19-03-1986', '20-03-1986', '21-03-1986', '22-03-1986', '23-03-1986', '24-03-1986', '25-03-1986', '26-03-1986', '27-03-1986', '28-03-1986', '29-03-1986', '30-03-1986', '31-03-1986', '01-04-1986', '02-04-1986', '03-04-1986', '04-04-1986', '05-04-1986', '06-04-1986', '07-04-1986', '08-04-1986', '09-04-1986', '10-04-1986', '11-04-1986', '12-04-1986', '13-04-1986', '14-04-1986', '15-04-1986', '16-04-1986', '17-04-1986', '18-04-1986', '19-04-1986', '20-04-1986', '21-04-1986', '22-04-1986', '23-04-1986', '24-04-1986', '25-04-1986', '26-04-1986', '27-04-1986', '28-04-1986', '29-04-1986', '30-04-1986', '01-05-1986', '02-05-1986', '03-05-1986', '04-05-1986', '05-05-1986', '06-05-1986', '07-05-1986', '08-05-1986', '09-05-1986', '10-05-1986', '11-05-1986', '12-05-1986', '13-05-1986', '14-05-1986', '15-05-1986', '16-05-1986', '17-05-1986', '18-05-1986', '19-05-1986', '20-05-1986', '21-05-1986', '22-05-1986', '23-05-1986', '24-05-1986', '25-05-1986', '26-05-1986', '27-05-1986', '28-05-1986', '29-05-1986', '30-05-1986', '31-05-1986', '01-06-1986', '02-06-1986', '03-06-1986', '04-06-1986', '05-06-1986', '06-06-1986', '07-06-1986', '08-06-1986', '09-06-1986', '10-06-1986', '11-06-1986', '12-06-1986', '13-06-1986', '14-06-1986', '15-06-1986', '16-06-1986', '17-06-1986', '18-06-1986', '19-06-1986', '20-06-1986', '21-06-1986', '22-06-1986', '23-06-1986', '24-06-1986', '25-06-1986', '26-06-1986', '27-06-1986', '28-06-1986', '29-06-1986', '30-06-1986', '01-07-1986', '02-07-1986', '03-07-1986', '04-07-1986', '05-07-1986', '06-07-1986', '07-07-1986', '08-07-1986', '09-07-1986', '10-07-1986', '11-07-1986', '12-07-1986', '13-07-1986', '14-07-1986', '15-07-1986', '16-07-1986', '17-07-1986', '18-07-1986', '19-07-1986', '20-07-1986', '21-07-1986', '22-07-1986', '23-07-1986', '24-07-1986', '25-07-1986', '26-07-1986', '27-07-1986', '28-07-1986', '29-07-1986', '30-07-1986', '31-07-1986', '01-08-1986', '02-08-1986', '03-08-1986', '04-08-1986', '05-08-1986', '06-08-1986', '07-08-1986', '08-08-1986', '09-08-1986', '10-08-1986', '11-08-1986', '12-08-1986', '13-08-1986', '14-08-1986', '15-08-1986', '16-08-1986', '17-08-1986', '18-08-1986', '19-08-1986', '20-08-1986', '21-08-1986', '22-08-1986', '23-08-1986', '24-08-1986', '25-08-1986', '26-08-1986', '27-08-1986', '28-08-1986', '29-08-1986', '30-08-1986', '31-08-1986', '01-09-1986', '02-09-1986', '03-09-1986', '04-09-1986', '05-09-1986', '06-09-1986', '07-09-1986', '08-09-1986', '09-09-1986', '10-09-1986', '11-09-1986', '12-09-1986', '13-09-1986', '14-09-1986', '15-09-1986', '16-09-1986', '17-09-1986', '18-09-1986', '19-09-1986', '20-09-1986', '21-09-1986', '22-09-1986', '23-09-1986', '24-09-1986', '25-09-1986', '26-09-1986', '27-09-1986', '28-09-1986', '29-09-1986', '30-09-1986', '01-10-1986', '02-10-1986', '03-10-1986', '04-10-1986', '05-10-1986', '06-10-1986', '07-10-1986', '08-10-1986', '09-10-1986', '10-10-1986', '11-10-1986', '12-10-1986', '13-10-1986', '14-10-1986', '15-10-1986', '16-10-1986', '17-10-1986', '18-10-1986', '19-10-1986', '20-10-1986', '21-10-1986', '22-10-1986', '23-10-1986', '24-10-1986', '25-10-1986', '26-10-1986', '27-10-1986', '28-10-1986', '29-10-1986', '30-10-1986', '31-10-1986', '01-11-1986', '02-11-1986', '03-11-1986', '04-11-1986', '05-11-1986', '06-11-1986', '07-11-1986', '08-11-1986', '09-11-1986', '10-11-1986', '11-11-1986', '12-11-1986', '13-11-1986', '14-11-1986', '15-11-1986', '16-11-1986', '17-11-1986', '18-11-1986', '19-11-1986', '20-11-1986', '21-11-1986', '22-11-1986', '23-11-1986', '24-11-1986', '25-11-1986', '26-11-1986', '27-11-1986', '28-11-1986', '29-11-1986', '30-11-1986', '01-12-1986', '02-12-1986', '03-12-1986', '04-12-1986', '05-12-1986', '06-12-1986', '07-12-1986', '08-12-1986', '09-12-1986', '10-12-1986', '11-12-1986', '12-12-1986', '13-12-1986', '14-12-1986', '15-12-1986', '16-12-1986', '17-12-1986', '18-12-1986', '19-12-1986', '20-12-1986', '21-12-1986', '22-12-1986', '23-12-1986', '24-12-1986', '25-12-1986', '26-12-1986', '27-12-1986', '28-12-1986', '29-12-1986', '30-12-1986', '31-12-1986']

In [ ]:
Columns=list(df.columns[:4])
Columns.extend(list(date_generated.strftime("%B")))

In [ ]:
print(len(Columns))

369

In [ ]:
df.columns=Columns

In [ ]:
df.head()

,OBJECTID *,Shape *,X,Y,January,January,January,January,January,January,...,December,December,December,December,December,December,December,December,December,December
0,1,Point,74.5,30.5,4.53,3.91,2.23,1.65,1.43,1.25,...,4.02,2.50,2.82,3.28,2.57,2.00,2.73,3.84,2.13,2.18
1,2,Point,75.5,30.5,4.56,3.84,2.69,2.32,2.38,2.51,...,4.23,2.82,2.81,3.66,3.12,2.69,3.03,4.35,2.18,2.36
2,3,Point,76.5,30.5,5.03,3.92,3.43,3.01,3.23,3.65,...,4.59,3.28,3.23,4.01,3.69,3.58,3.10,4.32,3.45,2.63
3,4,Point,75.5,31.5,3.69,3.10,2.44,2.12,2.97,2.91,...,5.12,3.15,3.57,3.78,3.24,3.15,3.30,4.85,2.91,2.68

In [ ]:
df1=df.transpose()

In [ ]:
df1=df1.reset_index()

In [ ]:
df2=df1.drop(df.index[0:4],axis=0)

In [ ]:
df2

        index     0     1     2     3
4     January  4.53  4.56  5.03  3.69
5     January  3.91  3.84  3.92   3.1
6     January  2.23  2.69  3.43  2.44
7     January  1.65  2.32  3.01  2.12
8     January  1.43  2.38  3.23  2.97
..        ...   ...   ...   ...   ...
364  December   2.0  2.69  3.58  3.15
365  December  2.73  3.03   3.1   3.3
366  December  3.84  4.35  4.32  4.85
367  December  2.13  2.18  3.45  2.91
368  December  2.18  2.36  2.63  2.68

[365 rows x 5 columns]

In [ ]:
# df2['index'] = pd.to_datetime(df2['index'], format='%d-%m-%Y')

In [ ]:
df2.columns

Index(['index', 0, 1, 2, 3], dtype='object')

In [ ]:
df2=df2.groupby(df2['index']).mean()

In [ ]:
df2.columns

Index([0, 1, 2, 3], dtype='object')

In [ ]:
df3=df2.transpose()

In [ ]:
# from google.colab import files
# files.download('output_1986.xlsx')

In [ ]:
df3.drop(['April', 'December', 'February', 'January',
       'March', 'May', 'November'],inplace=True,axis=1)

In [ ]:
df3.columns=['August_'+str(1986),'July_'+str(1986),'June_'+str(1986),'October_'+str(1986),'September_'+str(1986)]

In [ ]:
df3

   August_1986  July_1986  June_1986  October_1986  September_1986
0    25.120000  25.364516  25.736000     16.860645       22.178667
1    24.905161  25.192581  25.463000     16.428710       21.959333
2    23.229355  23.514839  23.603333     15.578064       20.743667
3    24.143226  24.587097  24.677333     16.056129       21.463000